<div style="margin-top: -105px">
    <div class = "row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 grey">
            <i class="bi bi-joystick"></i>
            <h3>GameDesign</h3>
            <p>
                Trabajo completo desde el dise침o de gameplay loop, principales mec치nicas y controladores hasta la implementaci칩n de UI y audio
            </p>
            <p class ="text-primary cabecera">
                Stack:
            </p>
            <p>
                Unity, C#, Phaser, TypeScript, Git, GitHub
            </p>
            <p class ="text-primary cabecera">
                Proyectos:
            </p>
            <ul>
                <li>Besties Rescue Adventure</li>
                <li>Cosmic wonderer</li>
                <li>Chambix</li>
                <li>Besties</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 grey">
            <i class="bi bi-code-slash"></i>
            <h3>FullStack</h3>
            <p>
                Desarrollo de interfaces de usuario para aplicaciones web y m칩viles
            </p>
            <p class ="text-primary cabecera">
                Stack:
            </p>
            <p>
                HTML, CSS, React js, JavaScript, TypeScript, Git, GitHub, ASP.NET, C#, Python, SQLserver
            </p>
            <p class ="text-primary cabecera">
                Proyectos:
            </p>
            <ul>
                <li>WEB API</li>
                <li>API REST</li>
                <li>Dapper</li>
                <li>Flask</li>
            </ul>
        </div>
    </div>
</div>