
<div class="text-center">
    <h1 class="display-4">Julián Ramiro Moroni</h1>
    <h2>Desarrollador full stack especializado en .NET y JavaScript</h2>
   
    <img 
    id="foto"
    src="/Images/foto.jpg" alt="Foto de Julián Ramiro Moroni" />
</div>

<div>
    <div class="row justify-content-center text-center bg-success">
        <div class="col col-md-7 seccion-bienvenida">
        <h3>Bienvenido a mi portafolio</h3>
        <p>Programación integral en lenguajes C#, Python y TypeScript. Desarrollo y diseño de videojuegos en motores UNITY y Phaser. Armado de Aplicaciones mobile y videojuegos, tanto instalables como de navegación.</p>
        </div>
    </div>
</div>
