@{
    ViewData["Title"] = "Gracias";
}

<h2>Gracias por ponerte en contacto conmigo</h2>
<p>Te contactaré lo mas pronto posible</p>
<div>
    <a asp-action="Index" asp-controller="Home">Volver al inicio</a>
</div>